#
# Don't commit eclipse files
.classpath
.project
.settings/
#
# Don't commit any generated artifact
target/
#
# Don't commit the bin directory for my quick and dirty scripts
bin/
#
# Don't commit my laptop configuration
Stivlox.java
#
# Don't commit log4j log
log4j.log
# Don't commit local configuration
src/test/java/org/obliquid/config/
